<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NoLogger</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1><a href="/">NoLogger</a></h1>
</header>
<div class="path">
    <a href="/">home</a> / <a href="/article/recent">recent articles</a>
</div>
<hr>
<br>
<main>
    <h2>Recent articles</h2>
    <ul>
        <li th:each="article : ${articles}">
            <a th:href="@{/article(id=${article.id})}">
                <small>[<span th:text="${article.createdAt}"></span>]</small>
                <span th:text="${article.title}"></span>
            </a>
        </li>
    </ul>
</main>
</body>
</html>