html, body {
    margin: 20px 20px;
	min-height: 600px;
    font-family: monospace;
}

ul {
    list-style-type: square;
}

a {
    color: blue;
}

/* set class design */
.viewer {
    background: ghostWhite;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}

.date {
    color: gray;
}