<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NoLogger</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1><a href="/">NoLogger</a></h1>
</header>
<div class="path">
    <a href="/">home</a>
</div>
<hr>
<br>
<main>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li>Search</li>
        </ul>

        <ul>
            <li>
                Categorized articles
                <ul>
                    <li><a href="/article/category/java">Java</a></li>
                    <li><a href="/article/category/spring">Spring</a></li>
                </ul>
            </li>
        </ul>

        <ul>
            <li>
                Recent articles
                <ul>
                    <li th:each="article : ${articles}">
                        <a th:href="@{/article(id=${article.id})}">
                            <small>[<span th:text="${article.category}"></span>]</small>
                            <small>[<span th:text="${article.createdAt}"></span>]</small>
                            <span th:text="${article.title}"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</main>
</body>
</html>