<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>
<body>
<div th:replace="~{fragments/aside :: aside}"></div>
<main>
    <div class="mainHeader">
        <h1>Board : <span th:text="${category.title}"></span></h1>
    </div>
    <hr>
    <br>

    <h1 th:text="${page.title}"></h1>
    <div><small>created at : <span th:text="${page.createdAt}"></span></small></div>
    <div><small>modified at : <span th:text="${page.modifiedAt}"></span></small></div>
    <br>
    <div th:text="${page.content}">
    </div>
</main>
</body>
</html>